# SECRET KEY BASE
export DEMO_SECRET_KEY_BASE='0d1leinspag8ga35wkpwlsja1wp2s51nfz1g9p2k6lki68ir0rsc6u2rbtt2a6fhplz4vq895nihh9l2khms4l4i30t5rh25uzn4ribhq2cve5quy3ott5ml1b95wvpo'

# Demo App Timezone. Example: Etc/UTC , Asia/Kolkata
export DEMO_APP_TIMEZONE='Etc/UTC'

# Cookie Domain
export DEMO_COOKIE_DOMAIN='127.0.0.1'

# MYSQL Constants
export DEMO_MYSQL_HOST='localhost'
export DEMO_MYSQL_USER='root'
export DEMO_MYSQL_PASSWORD='root'
export DEMO_MYSQL_DB='ost_demo_development'

# Memcache Servers
export DEMO_MEMCACHE_ENDPOINTS='127.0.0.1:11211,127.0.0.1:11212'
export DEMO_MEMCACHE_KEY_PREFIX='ost_demo'

# AWS KMS Details
export DEMO_AWS_KMS_ACCESS_KEY=''
export DEMO_AWS_KMS_SECRET_KEY=''
export DEMO_AWS_KMS_REGION=''
export DEMO_AWS_KMS_KEY_ID=''

# Local Cipher key (32 chars long Alphanumeric string)
export DEMO_LOCAL_CIPHER_KEY=''

# Exception Notification
export DEMO_EXCEPTION_NOTIFICATION_FROM='from@example.com'
export DEMO_EXCEPTION_NOTIFICATION_TO='to@example.com'

# development / staging / production
export RAILS_ENV=development

# max Rails server threads
export RAILS_MAX_THREADS=5